body{
    font-family: 'Heebo', sans-serif;
}
:root{
    font-size: 16px;
    --main-color: #21243D;
    --primary-color:#FF6464;
    --secondary-color:#00A8CC;;
    --dark-blue: #21243D;
    --bg-lightblue: #EDF7FA;
    --border-grey: #e0e0e0;
    --grey-color:#8695a4;
}
h1{
    font-size: 2rem;
}
*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    color: var(--main-color);
}
button{
    width: 200px;
    height: 50px;
    background: var(--primary-color);
    border: none;
    font-size:1.25rem;
    font-weight: 500;
    color: white;

}
.container{
    width: 860px;
    max-width: 100%;
    margin:  0 auto;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    font-size:1.25rem;
    font-weight: 500;


}
header ul li a{
    text-decoration: none;
    color:black
}
.content{
    display: flex;
    margin-top: 120px;
    height: 300px;
    justify-content: space-between;
    margin: 120px 0 80px 0;
    min-height: 300px;
}
.content .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.content .left h1{
    font-size: 2.75rem;

}
.content .right img{
    filter: drop-shadow(-5px -13px 0px #EDF7FA)
}
section{
    padding: 32px 0;

}
section h3{
font-size: 1.4rem;
font-weight: 400;
}
section a.all{
color: var(--secondary-color);
text-decoration: none;
}
section.recent{
background-color: var(--bg-lightblue);
}
section.recent .recent-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.recent .recent-card-container{
    max-width: 418px;
    min-height: 295px;
    max-width: 418px;
    background-color: #fff;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 22px;
}
section.recent .recent-card-container h3{
    font-size: 1.625rem;
    font-weight: 700;
}
section.recent .recent-card-container .desc{
    display: flex;
    justify-content: space-between;
    width: 280px;
}
section.recent .recent-card-container .desc  .line{
    width: 1px;
    height: 20px;
    background-color: black;

}
section.recent .recent-container{
    display: flex;
    justify-content: space-between;
}

.works-card{
    display: flex;
    margin-top: 30px;
    padding-bottom: 15px;

}
.works-card img{
    margin-right: 30px;
}
.works-card .works-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.works-card  .works-desc .desc{
display: flex;
justify-content:space-between;
width: 190px;
align-items: center;
}
.works-card  .works-desc h3{
font-size: 1.875rem;
font-weight: 700;
}
.works-card  .works-desc .desc .date{
    width: 62px;
    height: 26px;
    background-color: #142850;
    border-radius: 16px;
    color: white;
    font-size: 1.125rem;
    font-weight: 900;
    text-align: center;
}
.works-card  .works-desc .desc  .tag{
font-size: 1.25rem;
color: var(--grey-color);
}
footer{
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    align-items: center;
}
footer nav ul {
    list-style: none;
    display: flex;
    width: 160px;
    justify-content: space-between;
}
.vk,
.od,
.tg{
height: 40px;
width: 40px;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
margin-bottom: 20px;
}
.vk{
    background-image:url('../img/vk.svg') ;
}
.od{
    background-image:url('../img/od.svg') ;
}
.tg{
    background-image:url('../img/tg.svg') ;
}